@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spinner Animation Start */
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}

/* Spinner Animation End */
.login__page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login__section {
  border: 1px solid #000000;
  padding: 40px;
  width: 500px;
}
.login__logo {
  width: 180px;
  height: auto;
}
.input__form {
  border: 1px solid #000000;
  padding: 10px;
}
.login__form--area {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.login__logo--section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__btn--section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__btn {
  background-color: rgb(134, 9, 9);
  border: none;
  margin-top: 10px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  transition: all ease-in-out;
}

.navbar__section {
  height: 10vh;
  border-bottom: 1px solid #eeeeee;
  background-color: #f5f3f3;
  width: 100%;
  z-index: 999;
}
.navbar__user--tab:hover .navbar__logout--tab {
  display: block;
}
.sidebar__section {
  background-color: #f5f3f3;
  height: 90vh;
  position: fixed;
  width: 16.66%;
  bottom: 0;
}

.sideBar {
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 16px;
  font-weight: 500;
  line-height: 2rem;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 2px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  color: #354672;
}
.sideBar--active {
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 16px;
  line-height: 2rem;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 2px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eaf0fc;
  color: #000000;
  display: flex;
  align-items: center;
  color: #2f6fe6;
  border-radius: 10px;
}
.sideBar:hover {
  color: #2f6fe6;
  border-radius: 10px;
  background-color: #eaf0fc;
}
.sideBar--icons {
  margin-right: 5px;
}

.dashboard__dashboard--card {
  padding: 19px 10px;
}
.dashboard__dashboardCard--totalSales {
  background-color: rgb(134, 9, 9);
  color: #ffffff;
  height: 72px;
  width: 72px;
  border: 11px solid rgb(253, 228, 228);
}
.dashboard__dashboardCard--totalOrders {
  background-color: #00b517;
  color: #ffffff;
  height: 72px;
  width: 72px;
  border: 11px solid #e5f7e7;
}

.dashboard__dashboardCard--totalProducts {
  background-color: #3167eb;
  color: #ffffff;
  height: 72px;
  width: 72px;
  border: 11px solid #eaeffd;
}
.dashboard__card--header {
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #1c1c1c;
}
.dashboard__card--subHeader {
  font-style: normal;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: #181818;
}
.common__table {
  width: 100%;
  margin-bottom: 20px;
}
.common__table thead tr th {
  text-align: left;
  padding: 10px;
}
.common__table tbody tr td {
  padding: 10px;
}
.sidebarToggleSection {
  z-index: 1000;
}
.add-user-text-area-width {
  width: calc(83.33% + 20px);
}

/* Inventory CSS Start */
.inventory-container {
  margin-top: -24px;
  margin-left: -24px;
  margin-right: -24px;
}
.inventory-section {
  padding-top: 72px;
}
.inventory-filter-btn {
  display: none;
}
/* Inventory CSS End */

/* Reset CSS Start */
/* Standard syntax */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Reset CSS End */

@media print {
  header,
  footer,
  aside,
  form {
    display: none;
  }
  .navbar__section {
    display: none;
  }
  .sidebarSection {
    display: none !important;
    width: 0 !important;
  }

  .bodySection {
    width: 100% !important;
  }
}
.invoice__summary__table {
  width: 31%;
}
.invoice__summary__table tr td {
  /* padding: 10px !important; */
}
.invoiceSummary__shippingRow {
  border-bottom: 1px solid #000 !important;
}
.pagination {
  @apply inline-flex items-center gap-4 mx-auto;
}
.pagination li p {
  @apply bg-gray-200 px-3 py-1 cursor-pointer border border-gray-500;
}
.pagination li p.disable {
  @apply bg-white cursor-default;
}
.invoice__table tr th {
  text-align: left;
  padding: 0 5px;
}
.common-table th {
  text-align: left;
  padding: 10px;
  border-right: 1px solid;
}
.common-table td {
  text-align: left;
  padding: 10px;
  border-right: 1px solid;
}

.invoice__section {
  width: 83.333333%;
}
.invoice__table tr th {
  white-space: nowrap;
}
.invoice__table tr td {
  white-space: nowrap;
}

.menuToggle__icon {
  display: none;
  margin-right: 1.5rem;
}
.shadowed-input-box {
  box-shadow: 0px 1px 5px #c7c7c7;
}
.react-responsive-modal-modal {
  max-width: 1800px !important;
}
.responsive-modal-lg {
  width: 1200px;
}
.responsive-modal-md {
  width: 800px;
}
.css-b62m3t-container {
  width: 100%;
}

@media print {
  * {
    font-size: 12px !important;
  }
  .sidebar {
    display: none;
  }
  .invoice__section {
    width: 100% !important;
  }
  .invoice__table--td {
    width: 150% !important;
  }
  .sales-report-back-button {
    display: none;
  }
  .sales-report-print-bar {
    display: none;
  }
  .print-btn {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  .responsive-modal-lg {
    width: 950px;
  }
}
@media only screen and (max-width: 1024px) {
  * {
    font-size: 98%;
  }
  .navbar__section {
    height: 5vh;
  }
  .sidebar__section {
    display: none;
  }
  .bodySection {
    width: 100%;
    margin-top: -50px;
  }
  .sidebarSection {
    width: 0%;
  }
  .menuToggle__icon {
    display: block;
  }
  .inventory-header {
    width: 100%;
  }
  .responsive-modal-lg {
    width: 650px;
  }
  .responsive-modal-md {
    width: 650px;
  }
}
@media only screen and (max-width: 767px) {
  .add-user-text-area-width {
    width: 100%;
  }
  .inventory-filter-btn {
    display: inline-flex;
  }
  .inventory-sidebar {
    display: none;
  }
  .inventory-sidebar-fixed-container {
    margin-top: -5px;
  }
  .inventory-body {
    width: 100%;
  }
  .responsive-modal-lg {
    width: 290px;
  }
  .responsive-modal-md {
    width: 290px;
  }
}
