@tailwind base;
@tailwind components;
@tailwind utilities;

.login__page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login__section {
  border: 1px solid #000000;
  padding: 40px;
  width: 500px;
}
.login__logo {
  width: 180px;
  height: auto;
}
.input__form {
  border: 1px solid #000000;
  padding: 10px;
}
.login__form--area {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.login__logo--section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__btn--section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__btn {
  background-color: rgb(134, 9, 9);
  padding: 5px 15px;
  border: none;
  margin-top: 10px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  transition: all ease-in-out;
}

.navbar__section {
  height: 10vh;
  border-bottom: 1px solid #eeeeee;
  background-color: #f5f3f3;
  width: 100%;
  z-index: 999;
}
.navbar__user--tab:hover .navbar__logout--tab {
  display: block;
}
.sidebar__section {
  background-color: #f5f3f3;
  height: 90vh;
  position: fixed;
  width: 16.66%;
  bottom: 0;
}

.sideBar {
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 16px;
  font-weight: 500;
  line-height: 2rem;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 2px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  color: #354672;
}
.sideBar--active {
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 16px;
  line-height: 2rem;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 2px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #eaf0fc;
  color: #000000;
  display: flex;
  align-items: center;
  color: #2f6fe6;
  border-radius: 10px;
}
.sideBar:hover {
  color: #2f6fe6;
  border-radius: 10px;
  background-color: #eaf0fc;
}
.sideBar--icons {
  margin-right: 5px;
}

.dashboard__dashboard--card {
  padding: 19px 10px;
}
.dashboard__dashboardCard--totalSales {
  background-color: rgb(134, 9, 9);
  color: #ffffff;
  height: 72px;
  width: 72px;
  border: 11px solid rgb(253, 228, 228);
}
.dashboard__dashboardCard--totalOrders {
  background-color: #00b517;
  color: #ffffff;
  height: 72px;
  width: 72px;
  border: 11px solid #e5f7e7;
}

.dashboard__dashboardCard--totalProducts {
  background-color: #3167eb;
  color: #ffffff;
  height: 72px;
  width: 72px;
  border: 11px solid #eaeffd;
}
.dashboard__card--header {
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #1c1c1c;
}
.dashboard__card--subHeader {
  font-style: normal;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: #181818;
}
.common__table {
  width: 100%;
  margin-bottom: 20px;
}
.common__table thead tr th {
  text-align: left;
  padding: 10px;
}
.common__table tbody tr td {
  padding: 10px;
}
.sidebarToggleSection{
  z-index: 1000;
}
@media print {
  header,
  footer,
  aside,
  form {
    display: none;
  }
  .navbar__section {
    display: none;
  }
  .sidebar__section {
    display: none;
    width: 0 !important;
  }
  .invoicePrint {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
.invoice__summary__table{
  width: 31%;
}
.invoice__summary__table tr td {
  /* padding: 10px !important; */
}
.invoiceSummary__shippingRow {
  border-bottom: 1px solid #000 !important;
}
.pagination {
  @apply inline-flex items-center gap-4 mx-auto;
}
.pagination li p {
  @apply bg-gray-200 px-3 py-1 cursor-pointer border border-gray-500;
}
.pagination li p.disable {
  @apply bg-white cursor-default;
}
.invoice__table tr th {
  text-align: left;
  padding: 0 5px;
}
.common-table th {
  text-align: left;
  padding: 10px;
  border-right: 1px solid;
}
.common-table td {
  text-align: left;
  padding: 10px;
  border-right: 1px solid;
}

.invoice__section{
  width: 83.333333%;
}
.invoice__table tr th {
  white-space: nowrap;
}
.invoice__table tr td {
  white-space: nowrap;
}

.menuToggle__icon{
  display: none;
  margin-right: 1.5rem;
}
@media print {
  *{
    font-size: 12px !important;
  }
  .sidebar {
    display: none;
  }
  .invoice__section{
    width: 100% !important;
  }
  .invoice__table--td{
    width: 150% !important;
  }
}
@media only screen and (max-width: 1024px) {
  * {
    font-size: 98%;
  }
  /* .navLogo{
    height: 10px;
    width: auto;
  } */
  .navbar__section{
    height: 5vh;
  }
  .sidebar__section{
    display: none;
  }
  .bodySection{
    width: 100%;
  }
  .sidebarSection{
    width: 0%;
  }
  .menuToggle__icon{
    display: block;
  }
}